html,
body {
    height: 100%;
}

#main {
    /*height: 100%;*/
}

#status-alert {
    height: 200px;
}

#content {
    height: calc(100% - 200px);
    overflow: auto;
}

.full-height {
    height: 100%;
}

#legend {
    background: rgba(0,0,0,0.3);
}
#legend img {
    height: 27px;

}

#map {
    height: 100%;
}

.advisory {
    margin-top: 10px;
    border-radius: 20px;
    background: rgba(225, 225, 0, 0.5);
    color: black;
    text-align: center;
}

.warning {
    margin-top: 10px;
    border-radius: 20px;
    background: rgba(255,165,0, 0.5);
    color: black;
    text-align: center;
}

.severe {
    margin-top: 10px;
    border-radius: 20px;
    background: rgba(255, 0, 0, 0.5);
    color: black;

}

.div-background {
    background: rgba(0,0,0,0.3);

}

.logged-in-nav li a {
    font-size: 40px;
    color: #7AA9C1;
}



#friend-search {
    padding: 30px;
}

/* STORMY */
.stormy {
    animation: stormy 5s ease-in-out infinite;
    background: #222222;
    border-radius: 50%;
    box-shadow: 
        #222222 65px -15px 0 -5px, 
        #222222 25px -25px, 
        #222222 30px 10px, 
        #222222 60px 15px 0 -10px, 
        #222222 85px 5px 0 -5px;
    height: 50px;  
    width: 50px; 
    margin-left: -60px; 
    position: relative;
    left: 80px; 
    top: 100px; 
}
.stormy:after {
    animation: stormy_shadow 5s ease-in-out infinite;
    background: #000;
    border-radius: 50%;
    content: '';
    height: 15px; 
    width: 120px; 
    opacity: 0.2;
    position: relative;
    left: 5px; 
    bottom: -60px;
    transform: scale(.7);
}
.stormy:before {
    animation: stormy_thunder 2s steps(1, end) infinite; 
    border-left: 0px solid transparent;
    border-right: 7px solid transparent;
    border-top: 43px solid yellow; 
    box-shadow: yellow -7px -32px;
    content: '';
    display: block;
    height: 0;
    width: 0;
    position: relative;
    left: 57px;
    top: 70px;
    transform: rotate(14deg);
    transform-origin: 50% -60px;
}
@keyframes stormy {
    50% { transform: translateY(-20px); } 
}  
@keyframes stormy_shadow {
    50% { transform: translateY(20px) scale(1); opacity: 0.05; }
}
@keyframes stormy_thunder {
    0%  { transform: rotate(20deg); opacity:1; }
    5%  { transform: rotate(-34deg); opacity:1; }
    10% { transform: rotate(0deg); opacity:1; }
    15% { transform: rotate(-34deg); opacity:0; }
}


button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #5A0000;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

body {
    font-family: 'Arvo', serif;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(132, 143, 164, 0.96);
    color: #5A0000;
    line-height: 1.3;
    font-size: 20px;
}


.user-info {
    padding: 10px;
    display: inline-block;
}

.alert-update {
    background-color: green;
    width: 30%;
    float: right;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}