* {
  color: black;
}
/*# sourceMappingURL=styles.css.map */

.warning {
    background-color: orange;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.table {
    width: 100px;
}

#map {
    padding: 20px;
    margin-left: 20px;
}


body {
    background: url(/static/img/clouds.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: blue;
    line-height: 1.3;
}

.navbar {
  background: transparent;
  border: none;
  color: blue;
  font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  color: #fff;
  font-family: 'Raleway', sans-serif;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: blue;
}

p {
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: blue;
  font-family: 'Raleway', sans-serif;
}

.left {
  margin-top: 100px;
}

form {
  margin-top: 25px;
}

#signup {
    color: blue;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: blue;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 125px;
}


.btn {
  margin: 25px;
  display: inline-block;
  padding: 15px 30px;
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: blue;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}
.btn:hover {
  color: blue;
  border-color: #BFFF97;
}

input[type="text"], input[type="password"] {
  width: 350px;
  padding: 10px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1.5px solid blue;
  color: blue;
  font-size: 16px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
}

input[type="submit"] {
  background: #ccc;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 0px;
  color: blue;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background: #cccccc;
  animation-name: shake;
}

-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: blue;
}
-moz-placeholder { /* Firefox 19+ */
  color: blue;
}
-ms-input-placeholder { /* IE 10+ */
  color: blue;
}
-moz-placeholder { /* Firefox 18- */
  color: blue;
}
