{% extends 'base.html' %}
{% block title %}Alerts{% endblock %}
{% block content %}
    <h1>Alerts</h1>
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat={{ user.location.lat }}&lon={{ user.location.lng }}&name={{ user.location.city }}&color=#00aaff&font=Georgia&units=us"> </iframe>
    <!-- <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat={{ user.location.lat }}&lon={{ user.location.lng }}&name={{ user.location.city }}"> </iframe>
    -->
    <h3>Current Weather Details</h3>
    <div id="alerts">
    </div>
    
    <h3>Alerts for your County</h3>
    <div id="alerts-extra"></div>
    <script src="/static/alerts.js"></script>
{% endblock %}