<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}BLOCK TITLE GOES HERE{% endblock %}</title>
        
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Arvo|Raleway" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="static/styles.css">
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="/static/alertDetails.js"></script>
            
        </head>
        <body>
            {% if session['user_id'] is not defined %}
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navbar"
                            aria-expanded="false"
                            aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <img src="/static/img/warn-me-sooner.png" class="img-responsive" alt="Responsive image">
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav" style='padding:60px'>
                                <li><a href="/" >Main Page</a></li>
                                <li><a href="/register">New Users, Register</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Log In</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endif %}
            {% if session['user_id'] is defined %}
                <div class="container-fluid full-height">
                    <div class="row full-height">
                        <div class="col-xs-3 div-background">
                            <a class="logo" href="/updates"><img src="/static/img/warn-me-sooner.png" class="img-responsive" alt="Responsive image"></a>
                            <ul class="logged-in-nav">
                                <li><a href="/friends">Friends</a></li>
                                <li><a href="updates">Updates</a></li>
                                <li><a href="/map">Map</a></li>
                                <li><a href="/alerts">Alerts</a></li>
                                <li><a href="/logout">Logout</a></li>
                                <div class="stormy">
                                </div>
                            </ul>
                            <div id="storm-icon">
                            </div>
                        </div>
                        <div class="col-xs-9 full-height" id="main">
                            
                            <div class="row" id="status-alert">
                                <div class="col-xs-9">
                                    <div id="user-location-status">
                                        <h3>Welcome {{ user.first_name }}, your current location
                                        is {{ user.location.city}}, {{ user.zipcode }}
                                    </h3>
                                    </div>
                                    <div class="user-info">
                                        <input id="change-zipcode-field" type="text" name="zipcode" placeholder="Update Zipcode">
                                        <button type="button" id="button-zipcode" class="btn btn-default">Update Zipcode</button>

                                    </div>
                                    <div id="alert-update-zipcode">Zipcode Changed</div>
                                    <div class="user-info">
                                        <input id="post-update-field" type="text" name="update" placeholder="Post Update">
                                        <button id="button-update" type="button" class="btn btn-default">Post My Update</button>
                                    </div>
                                    <div id="alert-update-posted">Update Posted</div>
                                </div>
                                <div class="col-xs-3">
                                    <div id="alert-details"></div>
                                </div>
                            </div>
                            <div id="content" class="row">
                            {% endif %}
                            {% for message in get_flashed_messages() %}
                                <p>{{ message }}</p>
                            {% endfor %}
                            {% block content %}BLOCK CONTENT HERE{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <script src="/static/weather.js"></script>
        </body>
    </html>