<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}BLOCK TITLE GOES HERE{% endblock %}</title>
</head>
<body>
    <button><a href='/updates'>Main Page</a></button>
    {% if session['user_id'] is defined %}
        <button><a href="/updates">Updates</a></button>
        <button><a href="/friends">Friends</a></button>
        <button><a href="/map">Map</a></button>
        <button><a href="/logout">Logout</a></button></br>
        <br>
        <p>Welcome {{ user.first_name }}, your current location is {{ user.zipcode }}<br>
        <label>Change Location to:
            <input id="change-zipcode-field" type="text" name="zipcode">
            <button id="button-zipcode" type="button">Update Zipcode</button>
        </label>
        </p>
        <br>
        <label>Post and update:
            <textarea id="post-update-field" type="text" name="update"></textarea>
            <button id="button-update" type="button">Post My Update</button>
        </label>
        </form>
        </form>
        <p>------------------------------------------------------------</p>
    {% endif %}


    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}


    {% block content %}BLOCK CONTENT HERE{% endblock %}
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/weather.js"></script>
</body>
</html>