{% extends 'base.html' %}
{% block title %}Friends{% endblock %}
{% block content %}
    <div class="col-xs-6">
        <div id="friend-search">
            <label>Search for a friend by email:
                <input id="friend-search-field" type="text" name="email">
                <button class="btn btn-default" id="button-friend-search" type="button">Find My Friend</button>
            </label>
        </div>
        <div id="friend-search-results"></div>
        <div id="successFriendAdded"></div>
        <div id="alert-friend-added">Friend has been added</div>
    </div>
    <div class="col-xs-6">
        <h1>Your Friends</h1>
        <ul>
            {% for person in user.friendships %}
                <li>{{ person.friend.first_name }}</li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}