{% extends 'base.html' %}
{% block title %}Friends{% endblock %}
{% block content %}


<div id="friend-search">
<label>Search for a friend by email:
    <input id="friend-search-field" type="text" name="email">
    <button id="button-friend-search" type="button">Find My Friend</button>
</label>
</div>
<div id ="friend-search-results"></div>
<h1>Your Friends</h1>
<ul>

    {% for person in user.friendships %}
        <li>{{ person.friend.first_name }}</li>
    {% endfor %}  

</ul>


{% endblock %}

