{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}


<div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 left">
                <p>Get Alerts About The Current Oklahoma Storm</p>
                <img src="/static/img/warn-me-sooner-large.png"/>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                <div class="col-md-4 col-md-offset-3">
                    <h2>For Existing Users</h2>
                    <form action='/login' id="login-form" method="POST">
                        <input type="text" id="email-length" name="email" placeholder="Username"></input>
                        <input type="password" name="password" placeholder="Password"></input>
                        <input type="submit" value="Log Me In">
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}