{% extends 'base.html' %}
{% block title %}Hello{% endblock %}
{% block content %}

<table>
    <tr>
    <th>Legend</th>
    </tr>
<tr>
    <td>Friends: </td>
    <td><img src = "/static/img/friends-icon.png"/></td>
</tr>
<tr>
    <td>Strangers :</td>
    <td><img src="/static/img/strangers-icon.png"/></td>
</tr>
<tr>
    <td>Multiple Markers :</td>
    <td><img src="/static/img/multiple-markers.png"/></td>
</tr>
<tr>
    <td>Tornado Alert :</td>
    <td><img src="/static/img/tornado-icon.png"/></td>
</tr>
<tr>
    <td>Thunderstorm Alert :</td>
    <td><img src="/static/img/thunderstorm-icon.png"/></td>
</tr>
<tr>
    <td>Flood Alert :</td>
    <td><img src="/static/img/flood-icon.png"/></td>
</tr>
<tr>
    <td>No Active Alert :</td>
    <td><img src="/static/img/no-alert-icon.png"/></td>
</tr>
</table>


<div id="map" style="height:700px; width:700px"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpcSXRrgHGCuYRYWOG6GoQEU-i6cbf8ds&sensor=true">
</script>

<script>
    var lat = {{ user.location.lat }};
    var lng = {{ user.location.lng }};
</script>

<script src="/static/map.js"></script>


{% endblock %}