{% extends 'base.html' %}
{% block title %}Hello{% endblock %}
{% block content %}


{{ all_updates }}

{{ friend_list }}

{% for x in all_updates %}
    <li>{{{ x.user.first_name }}, {{ x.post }}, {{ x.posted_county }}</li>
{% endfor %}


<div id="map" style="height:500px; width:500px"></div>
<script src="/static/map.js"></script>
<script>
    var lat = {{ user.location.lat }};
    var lng = {{ user.location.lng }};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpcSXRrgHGCuYRYWOG6GoQEU-i6cbf8ds&callback=initMap"
    async defer></script>

   





{% endblock %}