{% extends 'base.html' %}
{% block title %}Hello{% endblock %}
{% block content %}

<h1>New Users please register</h1>
<form action='/register' method="POST">
    <label>First Name:
        <input type="text" name="firstname"></input></label><br>
    <label>Last Name:
        <input type="text" name="lastname"></input></label><br>    
    <label>Email (username): 
        <input type="text" name="email"></input></label><br>
    <label>Password:
        <input type="password" name="password"></input></label><br>
    <label>Zipcode:
        <input type="text" name="zipcode"></input></label><br>
    <input type="submit" value="Register Me">
</form>

{% endblock %}

